# Build artifacts
*.bin
*.elf
*.img
*.iso
build/
dist/
out/

# Toolchain and external binaries
.sconsign.dblite
toolchain/

# Compiled object and archives
*.a
*.o
*.so

# Python
.cache
.mypy_cache/
.pytest_cache/
.venv/
__pycache__/
*.egg-info/
*.py[cod]
*.pyd
*.pyo
pip-wheel-metadata/
venv/

# Logs
*.log
*.out

# LaTeX intermediate files
*.aux
*.bbl
*.blg
*.synctex.gz
*.toc

# Editors and IDEs
.DS_Store
.idea/
.vscode/
*~
.*#
*.*#
*.iml
*.swp

# Node
node_modules/

# Coverage and test
.coverage
.tox/
coverage.*

# Misc
.config
*_gen.*
core
*.core
cscope.*
tags
test.*
